.App{
  text-align: center;
}

.img-wrapper img{
  width: 100px;
}

.cart-wrapper{
  width:20wv;
  border: 1px solid black;
}

.btn-wrapper button{
  background-color: red;
  color:white;
  padding: 5px;
  margin: 10px;
}

button:hover, button:action{
  background-color:white;
  color:red;
}
.cart-wrapper{
  width: 25vw;
}